#!/bin/sh

daemon="/usr/local/bin/sensu-server{{ sensu_server_ruby_postfix }}"
daemon_flags="-c {{ sensu_server_config_file }} -d {{ sensu_server_conf_d_dir }} -e {{ sensu_server_extensions_dir }} -l {{ sensu_server_log_dir }}/sensu-server.log -b"
daemon_user="{{ sensu_server_user }}"

. /etc/rc.d/rc.subr

pexp="/usr/local/bin/ruby{{ sensu_server_ruby_postfix }} ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_cmd $1
